.container .places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .places h1 {
    font-size: 30px;
    vertical-align: top;
    text-align: left;
    width: 100%;
}
.container .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    text-align: center;
}
.container .places h2 {
    font-size: 30px;
    text-align: center;
}
